* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}

$page-h : 100vh;

main {
   width: 100%;
   height: $page-h;
   display: flex;
   flex-wrap: wrap;
   justify-content: space-evenly;
   align-items: center;
}


.chart-container {
   min-width: 45%;
   height: auto;


}


$alarma-size : 15vh;

.denied {
   color: rgb(218, 31, 12);
   font-size: $alarma-size;
   margin: (($page-h - $alarma-size)/2) auto;
}
