$clr_item_active : rgba(250, 25, 25, 0.77);
$clr_item_brd_active : rgba(247, 5, 5, 1);

$clr_item_disabled : rgba(27, 189, 1, 0.77);
$clr_item_brd_disabled : rgba(32, 159, 0, 1);


$clr_btn_active : rgba(231, 78, 3, 0.81);
$clr_btn_brd_active : rgba(233, 53, 5, 1);

$clr_btn_disabled : rgba(152, 142, 142, 0.81);
$clr_btn_brd_disabled : rgba(110, 110, 110, 1);

$border_width : 4px;
