$item_height : 80px;

.item {
   display: flex;
   justify-content: space-between;
   align-items: center;
   height: $item_height;
   line-height: $item_height;
   margin: 10px auto;
   padding: 0 20px;
   border-radius: 10px;

   &.active {
      background-color: $clr_item_active;
      border: $border_width solid $clr_item_brd_active;
   }

   &.done {
      background-color: $clr_item_disabled;
      border: $border_width solid $clr_item_brd_disabled;
   }


}
